---
import { Image } from "astro:assets";
import logo from "../images/logo.png";

interface Props {
  title: string;
}

const { title } = Astro.props;

const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Evolut" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="../../public/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="flex h-24 items-center justify-center">
      <a href="/"><Image src={logo} alt="Evolut logo" height={96} /></a>
    </header>
    <main class="flex h-screen justify-center">
      <div class="flex h-full w-full flex-col gap-10 md:max-w-2xl lg:max-w-4xl">
        <slot />
      </div>
    </main>
    <footer class="flex h-32 flex-col items-center justify-center gap-2">
      <a href="/"><Image src={logo} alt="Evolut logo" height={96} /></a>
      <div class="text-slate-300 hover:text-slate-100">
        <a href="/get-started">Get Started</a>
      </div>
      <div class="text-slate-300">
        &#169;{year} evolut.TLD. All Rights Reserved.
      </div>
    </footer>
  </body>
</html>

<style is:global>
  body {
    @apply bg-black text-slate-100;

    overscroll-behavior: none;
  }
</style>
